{
  "openapi": "3.0.0",
  "info": {
    "title": "ClickUp API V2",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.clickup.com/api/v2",
      "variables": {}
    },
    {
      "url": "https://dev-api.clickup.com/api/v2/team/team_id",
      "variables": {}
    }
  ],
  "paths": {
    "/task/task_id/attachment": {
      "post": {
        "tags": [
          "Attachments"
        ],
        "summary": "Create Task Attachment",
        "operationId": "CreateTaskAttachment",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "attachment"
                ],
                "type": "object",
                "properties": {
                  "attachment": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/oauth/token": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Get Access Token",
        "operationId": "GetAccessToken",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_secret",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/user": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "summary": "Get Authorized User",
        "operationId": "GetAuthorizedUser",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "summary": "Get Authorized Teams",
        "operationId": "GetAuthorizedTeams",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/task/task_id/checklist": {
      "post": {
        "tags": [
          "Checklists"
        ],
        "summary": "Create Checklist",
        "operationId": "CreateChecklist",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChecklistRequest"
              },
              "example": {
                "name": "Checklist"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/checklist/checklist_id": {
      "put": {
        "tags": [
          "Checklists"
        ],
        "summary": "Edit Checklist",
        "operationId": "EditChecklist",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditChecklistRequest"
              },
              "example": {
                "name": "Updated Checklist",
                "position": 0
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Checklists"
        ],
        "summary": "Delete Checklist",
        "operationId": "DeleteChecklist",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/checklist/checklist_id/checklist_item": {
      "post": {
        "tags": [
          "Checklists"
        ],
        "summary": "Create Checklist Item",
        "operationId": "CreateChecklistItem",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChecklistItemRequest"
              },
              "example": {
                "name": "Checklist Item",
                "assignee": 546
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/checklist/checklist_id/checklist_item/checklist_item_id": {
      "put": {
        "tags": [
          "Checklists"
        ],
        "summary": "Edit Checklist Item",
        "operationId": "EditChecklistItem",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditChecklistItemRequest"
              },
              "example": {
                "name": "Updated Checklist Item",
                "assignee": null,
                "resolved": true,
                "parent": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Checklists"
        ],
        "summary": "Delete Checklist Item",
        "operationId": "DeleteChecklistItem",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/task/task_id/comment": {
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Create Task Comment",
        "operationId": "CreateTaskComment",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskCommentRequest"
              },
              "example": {
                "comment_text": "Task comment content",
                "assignee": 53480,
                "notify_all": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Get Task Comments",
        "operationId": "GetTaskComments",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/view/view_id/comment": {
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Create Chat View Comment",
        "operationId": "CreateChatViewComment",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatViewCommentRequest"
              },
              "example": {
                "comment_text": "View comment content",
                "notify_all": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Get Chat View Comments",
        "operationId": "GetChatViewComments",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/list/list_id/comment": {
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Create List Comment",
        "operationId": "CreateListComment",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateListCommentRequest"
              },
              "example": {
                "comment_text": "Task comment content",
                "assignee": 53480,
                "notify_all": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Get List Comments",
        "operationId": "GetListComments",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/comment/comment_id": {
      "put": {
        "tags": [
          "Comments"
        ],
        "summary": "Update Comment",
        "description": "Please paste comment_id from original task comment created for continuity",
        "operationId": "UpdateComment",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCommentRequest"
              },
              "example": {
                "comment_text": "Updated comment text",
                "assignee": 53480,
                "resolved": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Comments"
        ],
        "summary": "Delete Comment",
        "description": "Please paste comment_id from original task comment created for continuity",
        "operationId": "DeleteComment",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/list/list_id/field": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Get Accessible Custom Fields",
        "operationId": "GetAccessibleCustomFields",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/task/task_id/field/field_id": {
      "post": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Set Custom Field Value",
        "operationId": "SetCustomFieldValue",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetCustomFieldValueRequest"
              },
              "example": {
                "value": 0
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Remove Custom Field Value",
        "operationId": "RemoveCustomFieldValue",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/task/task_id/dependency": {
      "post": {
        "tags": [
          "Dependencies"
        ],
        "summary": "Add Dependency",
        "operationId": "AddDependency",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDependencyRequest"
              },
              "example": {
                "depends_on": "task_id"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Dependencies"
        ],
        "summary": "Delete Dependency",
        "operationId": "DeleteDependency",
        "parameters": [
          {
            "name": "depends_on",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "task_id"
            }
          },
          {
            "name": "dependency_of",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "task_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/task/task_id/link/links_to": {
      "post": {
        "tags": [
          "Dependencies"
        ],
        "summary": "Add Task Link",
        "operationId": "AddTaskLink",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Dependencies"
        ],
        "summary": "Delete Task Link",
        "operationId": "DeleteTaskLink",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/space/space_id/folder": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Create a Folder",
        "operationId": "CreateaFolder",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateaFolderRequest"
              },
              "example": {
                "name": "New Folder From API V2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get Folders",
        "operationId": "GetFolders",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/folder/folder_id": {
      "put": {
        "tags": [
          "Folders"
        ],
        "summary": "Update a Folder",
        "description": "Please paste previously created folder_id for continuity",
        "operationId": "UpdateaFolder",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateaFolderRequest"
              },
              "example": {
                "name": "Updated Folder Name"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Folders"
        ],
        "summary": "Delete a Folder",
        "description": "Please paste previously updated folder_id for continuity",
        "operationId": "DeleteaFolder",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get Folder",
        "operationId": "GetFolder",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_id/goal": {
      "post": {
        "tags": [
          "Goals"
        ],
        "summary": "Create a Goal",
        "operationId": "CreateaGoal",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateaGoalRequest"
              },
              "example": {
                "name": "Goal From API V2",
                "due_date": 1577811600000,
                "description": "Goal Description",
                "multiple_owners": true,
                "owners": [
                  53480
                ],
                "color": "#32a852"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Goals"
        ],
        "summary": "Get Goals",
        "operationId": "GetGoals",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/goal/goal_id": {
      "put": {
        "tags": [
          "Goals"
        ],
        "summary": "Update a Goal",
        "description": "Please paste goal_id from previously created Goal for continuity",
        "operationId": "UpdateaGoal",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateaGoalRequest"
              },
              "example": {
                "name": "Updated Goal Name",
                "due_date": 1577811600000,
                "description": "Updated Goal Description",
                "rem_owners": [
                  53480
                ],
                "add_owners": [
                  53480
                ],
                "color": "#32a852"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Goals"
        ],
        "summary": "Delete a Goal",
        "description": "Please paste goal_id from previously updated Goal for continuity",
        "operationId": "DeleteaGoal",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Goals"
        ],
        "summary": "Get Goal",
        "description": "Please paste goal_id after creating another Goal for continuity. ",
        "operationId": "GetGoal",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/goal/goal_id/key_result": {
      "post": {
        "tags": [
          "Goals"
        ],
        "summary": "Create a Key Result",
        "description": "Please use previously created goal_id created before \"Get Goal\" for continuity",
        "operationId": "CreateaKeyResult",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateaKeyResultRequest"
              },
              "example": {
                "name": "New Key Result From API V2",
                "owners": [
                  53480
                ],
                "type": "number",
                "steps_start": 0,
                "steps_end": 10,
                "unit": "km",
                "task_ids": [],
                "list_ids": []
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/key_result/key_result_id": {
      "put": {
        "tags": [
          "Goals"
        ],
        "summary": "Edit a Key Result",
        "description": "Please paste key_result_id from previously created key_result for continuity",
        "operationId": "EditaKeyResult",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditaKeyResultRequest"
              },
              "example": {
                "steps_current": 5,
                "note": "Target achieved"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Goals"
        ],
        "summary": "Delete a Key Result",
        "description": "Please post key_result_id from the previously edited key_result for continuity. Please also delete the previously created Goal created for testing the \"Get Goal\" endpoint.",
        "operationId": "DeleteaKeyResult",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_id/guest": {
      "post": {
        "tags": [
          "Guests"
        ],
        "summary": "Invite Guest to Workspace",
        "description": "The type of JSON to fill out:\n{\n  \"email\": \"example@gmail.com\",\n  \"can_edit_tags\": true || false,\n  \"can_see_time_estimated\": true || false,\n  \"can_see_time_spent\": true || false\n}",
        "operationId": "InviteGuesttoWorkspace",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteGuesttoWorkspaceRequest"
              },
              "example": {
                "email": "user@example.com",
                "can_edit_tags": true,
                "can_see_time_estimated": true,
                "can_see_time_spent": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_id/guest/guest_id": {
      "put": {
        "tags": [
          "Guests"
        ],
        "summary": "Edit Guest on Workspace",
        "operationId": "EditGuestonWorkspace",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditGuestonWorkspaceRequest"
              },
              "example": {
                "username": "Guest User",
                "can_edit_tags": true,
                "can_see_time_estimated": true,
                "can_see_time_spent": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Guests"
        ],
        "summary": "Remove Guest from Workspace",
        "operationId": "RemoveGuestfromWorkspace",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Guests"
        ],
        "summary": "Get Guest",
        "description": "All the locations on the Workspace the guest has access too",
        "operationId": "GetGuest",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/task/task_id/guest/guest_id": {
      "post": {
        "tags": [
          "Guests"
        ],
        "summary": "Add Guest to Task",
        "description": "JSON Body:\n{\n  \"permission_level\": \"read\" || \"comment\" || \"edit\" || \"create\"\n}",
        "operationId": "AddGuesttoTask",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddGuesttoTaskRequest"
              },
              "example": {
                "permission_level": "read"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Guests"
        ],
        "summary": "Remove Guest from Task",
        "operationId": "RemoveGuestfromTask",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/list/list_id/guest/guest_id": {
      "post": {
        "tags": [
          "Guests"
        ],
        "summary": "Add Guest to List",
        "description": "JSON Body:\n{\n  \"permission_level\": \"read\" || \"comment\" || \"edit\" || \"create\"\n}",
        "operationId": "AddGuesttoList",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Guests"
        ],
        "summary": "Remove Guest from List",
        "operationId": "RemoveGuestfromList",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/folder/folder_id/guest/guest_id": {
      "post": {
        "tags": [
          "Guests"
        ],
        "summary": "Add Guest to Folder",
        "description": "JSON Body:\n{\n  \"permission_level\": \"read\" || \"comment\" || \"edit\" || \"create\"\n}",
        "operationId": "AddGuesttoFolder",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Guests"
        ],
        "summary": "Remove Guest from Folder",
        "operationId": "RemoveGuestfromFolder",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/folder/folder_id/list": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Create a List",
        "operationId": "CreateaList",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateaListRequest"
              },
              "example": {
                "name": "New List Name",
                "content": "Sent from API V2",
                "due_date": 1577811600000,
                "due_date_time": false,
                "priority": 1,
                "assignee": 53480,
                "status": "red"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get Lists",
        "operationId": "GetLists",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/space/space_id/list": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Create Folderless List",
        "operationId": "CreateFolderlessList",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFolderlessListRequest"
              },
              "example": {
                "name": "New List Name",
                "content": "New List Content",
                "due_date": 1567780450202,
                "due_date_time": false,
                "priority": 1,
                "assignee": 183,
                "status": "red"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get Folderless Lists",
        "operationId": "GetFolderlessLists",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/list/list_id": {
      "put": {
        "tags": [
          "Lists"
        ],
        "summary": "Update a List",
        "description": "Please paste previously created list_id for continuity",
        "operationId": "UpdateaList",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateaListRequest"
              },
              "example": {
                "name": "Updated List Name",
                "content": "Updated List Content",
                "due_date": 1577811600000,
                "due_date_time": true,
                "priority": 2,
                "assignee": "none"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Lists"
        ],
        "summary": "Delete a List",
        "description": "Please paste previously updated list_id for continuity",
        "operationId": "DeleteaList",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get List",
        "operationId": "GetList",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/list/list_id/task/task_id": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Add Task To List",
        "operationId": "AddTaskToList",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Remove Task From List",
        "operationId": "RemoveTaskFromList",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/task/task_id/member": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "Get Task Members",
        "operationId": "GetTaskMembers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/list/list_id/member": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "Get List Members",
        "description": "    ",
        "operationId": "GetListMembers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_id/shared": {
      "get": {
        "tags": [
          "Shared Hierarchy"
        ],
        "summary": "Get Shared Hierarchy",
        "operationId": "GetSharedHierarchy",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_id/space": {
      "post": {
        "tags": [
          "Spaces"
        ],
        "summary": "Create a Space",
        "operationId": "CreateaSpace",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateaSpaceRequest"
              },
              "example": {
                "name": "New Space From API V2",
                "multiple_assignees": true,
                "features": {
                  "due_dates": {
                    "enabled": true,
                    "start_date": false,
                    "remap_due_dates": true,
                    "remap_closed_due_date": false
                  },
                  "time_tracking": {
                    "enabled": false
                  },
                  "tags": {
                    "enabled": true
                  },
                  "time_estimates": {
                    "enabled": true
                  },
                  "checklists": {
                    "enabled": true
                  },
                  "custom_fields": {
                    "enabled": true
                  },
                  "remap_dependencies": {
                    "enabled": true
                  },
                  "dependency_warning": {
                    "enabled": true
                  },
                  "portfolios": {
                    "enabled": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Spaces"
        ],
        "summary": "Get Spaces",
        "operationId": "GetSpaces",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/space/space_id": {
      "put": {
        "tags": [
          "Spaces"
        ],
        "summary": "Update a Space",
        "description": "Please paste the previously created space_id for continuity",
        "operationId": "UpdateaSpace",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateaSpaceRequest"
              },
              "example": {
                "name": "Updated Space Name",
                "multiple_assignees": true,
                "features": {
                  "due_dates": {
                    "enabled": true,
                    "start_date": false,
                    "remap_due_dates": true,
                    "remap_closed_due_date": false
                  },
                  "time_tracking": {
                    "enabled": true
                  },
                  "tags": {
                    "enabled": true
                  },
                  "time_estimates": {
                    "enabled": true
                  },
                  "checklists": {
                    "enabled": true
                  },
                  "custom_fields": {
                    "enabled": true
                  },
                  "remap_dependencies": {
                    "enabled": true
                  },
                  "dependency_warning": {
                    "enabled": false
                  },
                  "portfolios": {
                    "enabled": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Spaces"
        ],
        "summary": "Delete a Space",
        "description": "Please paste the previously updated space_id for continuity",
        "operationId": "DeleteaSpace",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Spaces"
        ],
        "summary": "Get Space",
        "operationId": "GetSpace",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/space/space_id/tag": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "Get Space Tags",
        "operationId": "GetSpaceTags",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Create a Space Tag",
        "operationId": "CreateaSpaceTag",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateaSpaceTagRequest"
              },
              "example": {
                "tag": {
                  "name": "API V2",
                  "tag_fg": "#ffffff",
                  "tag_bg": "#3c9d9b"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/space/space_id/tag/tag_name": {
      "put": {
        "tags": [
          "Tags"
        ],
        "summary": "Edit a Space Tag",
        "operationId": "EditaSpaceTag",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditaSpaceTagRequest"
              },
              "example": {
                "tag": {
                  "name": "API V2 PUT",
                  "tag_fg": "#ffffff",
                  "tag_bg": "#3e3d9f"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Tags"
        ],
        "summary": "Delete a Space Tag",
        "operationId": "DeleteaSpaceTag",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/task/task_id/tag/tag_name": {
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Add Tag To Task",
        "operationId": "AddTagToTask",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Tags"
        ],
        "summary": "Remove Tag From Task",
        "operationId": "RemoveTagFromTask",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/list/list_id/task": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Create a Task",
        "operationId": "CreateaTask",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateaTaskRequest"
              },
              "example": {
                "name": "New Task Name",
                "description": "New Task Description",
                "assignees": [
                  183
                ],
                "tags": [
                  "tag name 1"
                ],
                "status": "Open",
                "priority": 3,
                "due_date": 1508369194377,
                "due_date_time": false,
                "time_estimate": 8640000,
                "start_date": 1567780450202,
                "start_date_time": false,
                "notify_all": true,
                "parent": null,
                "links_to": null,
                "custom_fields": [
                  {
                    "id": "0a52c486-5f05-403b-b4fd-c512ff05131c",
                    "value": 23
                  },
                  {
                    "id": "03efda77-c7a0-42d3-8afd-fd546353c2f5",
                    "value": "Text field input"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get Tasks",
        "operationId": "GetTasks",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/task/task_id": {
      "put": {
        "tags": [
          "Tasks"
        ],
        "summary": "Update a Task",
        "description": "Paste task_id from previously created task.\n\nMake sure to update all fields when testing to make sure they are all updated.",
        "operationId": "UpdateaTask",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateaTaskRequest"
              },
              "example": {
                "name": "Updated Task Name",
                "description": "Updated Task Content",
                "status": "in progress",
                "priority": 1,
                "time_estimate": 8640000,
                "assignees": {
                  "add": [
                    182
                  ],
                  "rem": [
                    183
                  ]
                },
                "archived": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "summary": "Delete a Task",
        "description": "Please delete previously created/updated task for continuity",
        "operationId": "DeleteaTask",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get Task",
        "operationId": "GetTask",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_id/task": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get Filtered Team Tasks",
        "operationId": "GetFilteredTeamTasks",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/task/task_id/time_in_status": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get Task's Time in Status",
        "operationId": "GetTask'sTimeinStatus",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/task/bulk_time_in_status/task_ids": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get Bulk Tasks' Time in Status",
        "operationId": "GetBulkTasks'TimeinStatus",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_id/taskTemplate": {
      "get": {
        "tags": [
          "Task Templates"
        ],
        "summary": "Get Task Templates",
        "operationId": "GetTaskTemplates",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/list/list_id/taskTemplate/template_id": {
      "post": {
        "tags": [
          "Task Templates"
        ],
        "summary": "Create Task From Template",
        "operationId": "CreateTaskFromTemplate",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskFromTemplateRequest"
              },
              "example": {
                "name": "API V2 Test"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/group": {
      "post": {
        "tags": [
          "Teams (User Groups)"
        ],
        "summary": "Create a Team",
        "operationId": "CreateaTeam",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateaTeamRequest"
              },
              "example": {
                "name": "Team name",
                "member_ids": [
                  123456,
                  987654
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://dev-api.clickup.com/api/v2/team/team_id",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Teams (User Groups)"
        ],
        "summary": "Get Teams",
        "operationId": "GetTeams",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/group/group_id": {
      "put": {
        "tags": [
          "Teams (User Groups)"
        ],
        "summary": "Update Team",
        "operationId": "UpdateTeam",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "example": "{\n    \"name\": \"team name\"\n    \"handle\": \"handle\"\n    \"members\": {\n        \"add\":[123456, 987654],\n        \"rem\": [159753]\n    }\n}"
              },
              "example": "{\n    \"name\": \"team name\"\n    \"handle\": \"handle\"\n    \"members\": {\n        \"add\":[123456, 987654],\n        \"rem\": [159753]\n    }\n}"
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Teams (User Groups)"
        ],
        "summary": "Delete a Team",
        "operationId": "DeleteaTeam",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/task/task_id/time": {
      "post": {
        "tags": [
          "Time Tracking Legacy"
        ],
        "summary": "Track Time",
        "operationId": "TrackTime",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackTimeRequest"
              },
              "example": {
                "start": 1567780450202,
                "end": 1508369194377,
                "time": 8640000
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/task/task_id/time/": {
      "get": {
        "tags": [
          "Time Tracking Legacy"
        ],
        "summary": "Get Time Tracked",
        "operationId": "GetTimeTracked",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/task/task_id/time/interval_id": {
      "put": {
        "tags": [
          "Time Tracking Legacy"
        ],
        "summary": "Edit Time Tracked",
        "operationId": "EditTimeTracked",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditTimeTrackedRequest"
              },
              "example": {
                "start": 1567780450202,
                "end": 1508369194377,
                "time": 8640000
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Time Tracking Legacy"
        ],
        "summary": "Delete Time Tracked",
        "operationId": "DeleteTimeTracked",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_id/time_entries": {
      "get": {
        "tags": [
          "Time Tracking 2.0"
        ],
        "summary": "Get Time Entries Within a Date Range",
        "operationId": "GetTimeEntriesWithinaDateRange",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "post": {
        "tags": [
          "Time Tracking 2.0"
        ],
        "summary": "Create a Time Entry",
        "operationId": "CreateaTimeEntry",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateaTimeEntryRequest"
              },
              "example": {
                "description": "from api",
                "tags": [
                  {
                    "name": "josh1",
                    "tag_bg": "#BF55EC",
                    "tag_fg": "#BF55EC"
                  }
                ],
                "start": 1595282645000,
                "created_with": "string",
                "billable": true,
                "duration": 50000,
                "assignee": 300528
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_id/time_entries/time_entry_id": {
      "get": {
        "tags": [
          "Time Tracking 2.0"
        ],
        "summary": "Get Singular Time Entry",
        "operationId": "GetSingularTimeEntry",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Time Tracking 2.0"
        ],
        "summary": "Delete a Time Entry",
        "operationId": "DeleteaTimeEntry",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_Id/time_entries/timer_id/history": {
      "get": {
        "tags": [
          "Time Tracking 2.0"
        ],
        "summary": "Get Time Entry History",
        "operationId": "GetTimeEntryHistory",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_id/time_entries/current": {
      "get": {
        "tags": [
          "Time Tracking 2.0"
        ],
        "summary": "Get Running Time Entry",
        "operationId": "GetRunningTimeEntry",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_id/time_entries/tags": {
      "delete": {
        "tags": [
          "Time Tracking 2.0"
        ],
        "summary": "Remove Tags From Time Entry",
        "operationId": "RemoveTagsFromTimeEntry",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "post": {
        "tags": [
          "Time Tracking 2.0"
        ],
        "summary": "Add Tags to Time Entries",
        "operationId": "AddTagstoTimeEntries",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTagstoTimeEntriesRequest"
              },
              "example": {
                "time_entry_ids": [
                  "2043908062133112350"
                ],
                "tags": [
                  {
                    "name": "test tag",
                    "tag_bg": "#000000",
                    "tag_fg": "#000000"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Time Tracking 2.0"
        ],
        "summary": "Get All Time Entry Tags",
        "operationId": "GetAllTimeEntryTags",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "put": {
        "tags": [
          "Time Tracking 2.0"
        ],
        "summary": "Rename Time Entry Tags",
        "operationId": "RenameTimeEntryTags",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameTimeEntryTagsRequest"
              },
              "example": {
                "name": "joshy",
                "new_name": "MAMA",
                "tag_bg": "#000000",
                "tag_fg": "#000000"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_id/time_entries/start/{timer_id}": {
      "post": {
        "tags": [
          "Time Tracking 2.0"
        ],
        "summary": "Start a Time Entry",
        "operationId": "StartaTimeEntry",
        "parameters": [
          {
            "name": "timer_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_id/time_entries/stop": {
      "post": {
        "tags": [
          "Time Tracking 2.0"
        ],
        "summary": "Stop Running Time Entry",
        "operationId": "StopRunningTimeEntry",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_id/time_entries/timer_id": {
      "put": {
        "tags": [
          "Time Tracking 2.0"
        ],
        "summary": "Update a Time Entry",
        "operationId": "UpdateaTimeEntry",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateaTimeEntryRequest"
              },
              "example": {
                "description": "string",
                "tags": [
                  "string"
                ],
                "tag_action": "replace",
                "start": 0,
                "end": 0,
                "tid": "JOSH-720",
                "billable": true,
                "duration": 40000,
                "assignee": 0
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_id/user": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Invite User to Workspace",
        "operationId": "InviteUsertoWorkspace",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteUsertoWorkspaceRequest"
              },
              "example": {
                "email": "user@example.com",
                "admin": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_id/user/user_id": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Edit User on Workspace",
        "operationId": "EditUseronWorkspace",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditUseronWorkspaceRequest"
              },
              "example": {
                "username": "User Name",
                "admin": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Remove User From Workspace",
        "operationId": "RemoveUserFromWorkspace",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User",
        "operationId": "GetUser",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/team/team_id/view": {
      "post": {
        "tags": [
          "Views"
        ],
        "summary": "Create Team View",
        "operationId": "CreateTeamView",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeamViewRequest"
              },
              "example": {
                "name": "New Team View Name",
                "type": "list",
                "grouping": {
                  "field": "status",
                  "dir": 1,
                  "collapsed": [],
                  "ignore": false
                },
                "divide": {
                  "field": null,
                  "dir": null,
                  "collapsed": []
                },
                "sorting": {
                  "fields": []
                },
                "filters": {
                  "op": "AND",
                  "fields": [],
                  "search": "",
                  "show_closed": false
                },
                "columns": {
                  "fields": []
                },
                "team_sidebar": {
                  "assignees": [],
                  "assigned_comments": false,
                  "unassigned_tasks": false
                },
                "settings": {
                  "show_task_locations": false,
                  "show_subtasks": 3,
                  "show_subtask_parent_names": false,
                  "show_closed_subtasks": false,
                  "show_assignees": true,
                  "show_images": true,
                  "collapse_empty_columns": null,
                  "me_comments": true,
                  "me_subtasks": true,
                  "me_checklists": true
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Views"
        ],
        "summary": "Get Team Views",
        "operationId": "GetTeamViews",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/space/space_id/view": {
      "post": {
        "tags": [
          "Views"
        ],
        "summary": "Create Space View",
        "operationId": "CreateSpaceView",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpaceViewRequest"
              },
              "example": {
                "name": "API V2 View",
                "type": "list",
                "grouping": {
                  "field": "status",
                  "dir": 1,
                  "collapsed": [],
                  "ignore": false
                },
                "divide": {
                  "field": null,
                  "dir": null,
                  "collapsed": []
                },
                "sorting": {
                  "fields": []
                },
                "filters": {
                  "op": "AND",
                  "fields": [],
                  "search": "",
                  "show_closed": false
                },
                "columns": {
                  "fields": []
                },
                "team_sidebar": {
                  "assignees": [],
                  "assigned_comments": false,
                  "unassigned_tasks": false
                },
                "settings": {
                  "show_task_locations": false,
                  "show_subtasks": 3,
                  "show_subtask_parent_names": false,
                  "show_closed_subtasks": false,
                  "show_assignees": true,
                  "show_images": true,
                  "collapse_empty_columns": null,
                  "me_comments": true,
                  "me_subtasks": true,
                  "me_checklists": true
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Views"
        ],
        "summary": "Get Space Views",
        "operationId": "GetSpaceViews",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.clickup.com/api/v2",
            "variables": {}
          }
        ]
      }
    },
    "/folder/folder_id/view": {
      "post": {
        "tags": [
          "Views"
        ],
        "summary": "Create Folder View",
        "operationId": "CreateFolderView",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
[...]
