{
  "openapi": "3.0.0",
  "info": {
    "title": "Google Sheets API",
    "description": "Reads and writes Google Sheets.",
    "contact": {},
    "version": "v4"
  },
  "servers": [
    {
      "url": "https://sheets.googleapis.com/",
      "variables": {}
    }
  ],
  "paths": {
    "/v4/spreadsheets/{spreadsheetId}/values:batchUpdate": {
      "post": {
        "tags": [
          "values"
        ],
        "summary": "BatchUpdateV4SpreadsheetsValuesBatchUpdate",
        "description": "Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more ValueRanges.",
        "operationId": "BatchUpdateV4SpreadsheetsValuesBatchUpdate",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to update.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateValuesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateValuesResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values/{range}:append": {
      "post": {
        "tags": [
          "values"
        ],
        "summary": "AppendV4SpreadsheetsValuesAppend",
        "description": "Appends values to a spreadsheet. The input range is used to search for existing data and find a \"table\" within that range. Values will be appended to the next row of the table, starting with the first column of the table. See the [guide](/sheets/api/guides/values#appending_values) and [sample code](/sheets/api/samples/writing#append_values) for specific details of how tables are detected and data is appended. The caller must specify the spreadsheet ID, range, and a valueInputOption. The `valueInputOption` only controls how the input data will be added to the sheet (column-wise or row-wise), it does not influence what cell the data starts being written to.",
        "operationId": "AppendV4SpreadsheetsValuesAppend",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseValueRenderOption",
            "in": "query",
            "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE. (Acceptable values are: \"FORMATTED_VALUE\", \"UNFORMATTED_VALUE\", \"FORMULA\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "FORMATTED_VALUE"
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to update.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "insertDataOption",
            "in": "query",
            "description": "How the input data should be inserted. (Acceptable values are: \"OVERWRITE\", \"INSERT_ROWS\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "OVERWRITE"
            }
          },
          {
            "name": "range",
            "in": "path",
            "description": "The [A1 notation](/sheets/api/guides/concepts#cell) of a range to search for a logical table of data. Values are appended after the last row of the table.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseDateTimeRenderOption",
            "in": "query",
            "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER. (Acceptable values are: \"SERIAL_NUMBER\", \"FORMATTED_STRING\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "SERIAL_NUMBER"
            }
          },
          {
            "name": "valueInputOption",
            "in": "query",
            "description": "How the input data should be interpreted. (Acceptable values are: \"INPUT_VALUE_OPTION_UNSPECIFIED\", \"RAW\", \"USER_ENTERED\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "INPUT_VALUE_OPTION_UNSPECIFIED"
            }
          },
          {
            "name": "includeValuesInResponse",
            "in": "query",
            "description": "Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRange"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppendValuesResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter": {
      "post": {
        "tags": [
          "values"
        ],
        "summary": "BatchGetByDataFilterV4SpreadsheetsValuesBatchGetByDataFilter",
        "description": "Returns one or more ranges of values that match the specified data filters. The caller must specify the spreadsheet ID and one or more DataFilters. Ranges that match any of the data filters in the request will be returned.",
        "operationId": "BatchGetByDataFilterV4SpreadsheetsValuesBatchGetByDataFilter",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to retrieve data from.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchGetValuesByDataFilterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchGetValuesByDataFilterResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchGet": {
      "get": {
        "tags": [
          "values"
        ],
        "summary": "BatchGetV4SpreadsheetsValuesBatchGet",
        "description": "Returns one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges.",
        "operationId": "BatchGetV4SpreadsheetsValuesBatchGet",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "majorDimension",
            "in": "query",
            "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `ranges=[\"A1:B2\"],majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `ranges=[\"A1:B2\"],majorDimension=COLUMNS` returns `[[1,3],[2,4]]`. (Acceptable values are: \"DIMENSION_UNSPECIFIED\", \"ROWS\", \"COLUMNS\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "DIMENSION_UNSPECIFIED"
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to retrieve data from.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "valueRenderOption",
            "in": "query",
            "description": "How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE. (Acceptable values are: \"FORMATTED_VALUE\", \"UNFORMATTED_VALUE\", \"FORMULA\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "FORMATTED_VALUE"
            }
          },
          {
            "name": "ranges",
            "in": "query",
            "description": "The [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateTimeRenderOption",
            "in": "query",
            "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER. (Acceptable values are: \"SERIAL_NUMBER\", \"FORMATTED_STRING\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "SERIAL_NUMBER"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchGetValuesResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.readonly",
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter": {
      "post": {
        "tags": [
          "values"
        ],
        "summary": "BatchClearByDataFilterV4SpreadsheetsValuesBatchClearByDataFilter",
        "description": "Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more DataFilters. Ranges matching any of the specified data filters will be cleared. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.",
        "operationId": "BatchClearByDataFilterV4SpreadsheetsValuesBatchClearByDataFilter",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to update.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchClearValuesByDataFilterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchClearValuesByDataFilterResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values/{range}:clear": {
      "post": {
        "tags": [
          "values"
        ],
        "summary": "ClearV4SpreadsheetsValuesClearBySpreadsheetId",
        "description": "Clears values from a spreadsheet. The caller must specify the spreadsheet ID and range. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.",
        "operationId": "ClearV4SpreadsheetsValuesClearBySpreadsheetId",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "path",
            "description": "The [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell) of the values to clear.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to update.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "text/plain": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClearValuesResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values/{range}": {
      "put": {
        "tags": [
          "values"
        ],
        "summary": "UpdateV4SpreadsheetsValuesBySpreadsheetId",
        "description": "Sets values in a range of a spreadsheet. The caller must specify the spreadsheet ID, range, and a valueInputOption.",
        "operationId": "UpdateV4SpreadsheetsValuesBySpreadsheetId",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to update.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "path",
            "description": "The [A1 notation](/sheets/api/guides/concepts#cell) of the values to update.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseDateTimeRenderOption",
            "in": "query",
            "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER. (Acceptable values are: \"SERIAL_NUMBER\", \"FORMATTED_STRING\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "SERIAL_NUMBER"
            }
          },
          {
            "name": "valueInputOption",
            "in": "query",
            "description": "How the input data should be interpreted. (Acceptable values are: \"INPUT_VALUE_OPTION_UNSPECIFIED\", \"RAW\", \"USER_ENTERED\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "INPUT_VALUE_OPTION_UNSPECIFIED"
            }
          },
          {
            "name": "responseValueRenderOption",
            "in": "query",
            "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE. (Acceptable values are: \"FORMATTED_VALUE\", \"UNFORMATTED_VALUE\", \"FORMULA\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "FORMATTED_VALUE"
            }
          },
          {
            "name": "includeValuesInResponse",
            "in": "query",
            "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRange"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateValuesResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "values"
        ],
        "summary": "GetV4SpreadsheetsValuesBySpreadsheetId",
        "description": "Returns a range of values from a spreadsheet. The caller must specify the spreadsheet ID and a range.",
        "operationId": "GetV4SpreadsheetsValuesBySpreadsheetId",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to retrieve data from.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "valueRenderOption",
            "in": "query",
            "description": "How values should be represented in the output. The default render option is FORMATTED_VALUE. (Acceptable values are: \"FORMATTED_VALUE\", \"UNFORMATTED_VALUE\", \"FORMULA\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "FORMATTED_VALUE"
            }
          },
          {
            "name": "majorDimension",
            "in": "query",
            "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=A1:B2,majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=A1:B2,majorDimension=COLUMNS` returns `[[1,3],[2,4]]`. (Acceptable values are: \"DIMENSION_UNSPECIFIED\", \"ROWS\", \"COLUMNS\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "DIMENSION_UNSPECIFIED"
            }
          },
          {
            "name": "dateTimeRenderOption",
            "in": "query",
            "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER. (Acceptable values are: \"SERIAL_NUMBER\", \"FORMATTED_STRING\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "SERIAL_NUMBER"
            }
          },
          {
            "name": "range",
            "in": "path",
            "description": "The [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueRange"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.readonly",
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchClear": {
      "post": {
        "tags": [
          "values"
        ],
        "summary": "BatchClearV4SpreadsheetsValuesBatchClear",
        "description": "Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges. Only values are cleared -- all other properties of the cell (such as formatting and data validation) are kept.",
        "operationId": "BatchClearV4SpreadsheetsValuesBatchClear",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to update.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchClearValuesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchClearValuesResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter": {
      "post": {
        "tags": [
          "values"
        ],
        "summary": "BatchUpdateByDataFilterV4SpreadsheetsValuesBatchUpdateByDataFilter",
        "description": "Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more DataFilterValueRanges.",
        "operationId": "BatchUpdateByDataFilterV4SpreadsheetsValuesBatchUpdateByDataFilter",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to update.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateValuesByDataFilterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateValuesByDataFilterResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo": {
      "post": {
        "tags": [
          "sheets"
        ],
        "summary": "CopyToV4SpreadsheetsSheetsCopyTo",
        "description": "Copies a single sheet from a spreadsheet to another spreadsheet. Returns the properties of the newly created sheet.",
        "operationId": "CopyToV4SpreadsheetsSheetsCopyTo",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet containing the sheet to copy.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sheetId",
            "in": "path",
            "description": "The ID of the sheet to copy.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopySheetToAnotherSpreadsheetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SheetProperties"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}": {
      "get": {
        "tags": [
          "developerMetadata"
        ],
        "summary": "GetV4SpreadsheetsDeveloperMetadata",
        "description": "Returns the developer metadata with the specified ID. The caller must specify the spreadsheet ID and the developer metadata's unique metadataId.",
        "operationId": "GetV4SpreadsheetsDeveloperMetadata",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metadataId",
            "in": "path",
            "description": "The ID of the developer metadata to retrieve.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to retrieve metadata from.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperMetadata"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/developerMetadata:search": {
      "post": {
        "tags": [
          "developerMetadata"
        ],
        "summary": "SearchV4SpreadsheetsDeveloperMetadataSearch",
        "description": "Returns all developer metadata matching the specified DataFilter. If the provided DataFilter represents a DeveloperMetadataLookup object, this will return all DeveloperMetadata entries selected by it. If the DataFilter represents a location in a spreadsheet, this will return all developer metadata associated with locations intersecting that region.",
        "operationId": "SearchV4SpreadsheetsDeveloperMetadataSearch",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The ID of the spreadsheet to retrieve metadata from.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDeveloperMetadataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchDeveloperMetadataResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}": {
      "get": {
        "tags": [
          "spreadsheets"
        ],
        "summary": "GetV4SpreadsheetsBySpreadsheetId",
        "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. By default, data within grids will not be returned. You can include grid data one of two ways: * Specify a field mask listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData URL parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, it is recommended to retrieve only the specific fields of the spreadsheet that you want. To retrieve only subsets of the spreadsheet, use the ranges URL parameter. Multiple ranges can be specified. Limiting the range will return only the portions of the spreadsheet that intersect the requested ranges. Ranges are specified using A1 notation.",
        "operationId": "GetV4SpreadsheetsBySpreadsheetId",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeGridData",
            "in": "query",
            "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The spreadsheet to request.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ranges",
            "in": "query",
            "description": "The ranges to retrieve from the spreadsheet.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spreadsheet"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/drive.readonly",
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets": {
      "post": {
        "tags": [
          "spreadsheets"
        ],
        "summary": "CreateV4Spreadsheets",
        "description": "Creates a spreadsheet, returning the newly created spreadsheet.",
        "operationId": "CreateV4Spreadsheets",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spreadsheet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spreadsheet"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}:getByDataFilter": {
      "post": {
        "tags": [
          "spreadsheets"
        ],
        "summary": "GetByDataFilterV4SpreadsheetsGetByDataFilter",
        "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. This method differs from GetSpreadsheet in that it allows selecting which subsets of spreadsheet data to return by specifying a dataFilters parameter. Multiple DataFilters can be specified. Specifying one or more data filters will return the portions of the spreadsheet that intersect ranges matched by any of the filters. By default, data within grids will not be returned. You can include grid data one of two ways: * Specify a field mask listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, it is recommended to retrieve only the specific fields of the spreadsheet that you want.",
        "operationId": "GetByDataFilterV4SpreadsheetsGetByDataFilter",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spreadsheetId",
            "in": "path",
            "description": "The spreadsheet to request.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSpreadsheetByDataFilterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spreadsheet"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/drive.file",
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}:batchUpdate": {
      "post": {
        "tags": [
          "spreadsheets"
        ],
        "summary": "BatchUpdateV4SpreadsheetsBatchUpdateBySpreadsheetId",
        "description": "Applies one or more updates to the spreadsheet. Each request is validated before being applied. If any request is not valid then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. The replies will mirror the requests. For example, if you applied 4 updates and the 3rd one had a reply, then the response will have 2 empty replies, the actual reply, and another empty reply, in that order. Due to the collaborative nature of spreadsheets, it is not guaranteed that the spreadsheet will reflect exactly your changes after this completes, however it is guaranteed that the updates in the request will be applied together atomically. Your changes may be altered with respect to collaborator changes. If there are no collaborators, the spreadsheet should reflect your changes.",
        "operationId": "BatchUpdateV4SpreadsheetsBatchUpdateBySpreadsheetId",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
[...]
