{
  "openapi": "3.0.0",
  "info": {
    "title": "Cloud Speech-to-Text API",
    "description": "Converts audio to text by applying powerful neural network models.",
    "contact": {},
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://speech.googleapis.com/",
      "variables": {}
    }
  ],
  "paths": {
    "/v1/operations/{name}": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "GetV1OperationsByName",
        "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
        "operationId": "GetV1OperationsByName",
        "parameters": [
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the operation resource.",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^.*$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/operations": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "ListV1Operations",
        "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
        "operationId": "ListV1Operations",
        "parameters": [
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The standard list page size.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The standard list page token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The standard list filter.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "The name of the operation's parent resource.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationsResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/speech:longrunningrecognize": {
      "post": {
        "tags": [
          "speech"
        ],
        "summary": "LongrunningrecognizeV1SpeechLongrunningrecognize",
        "description": "Performs asynchronous speech recognition: receive results via the google.longrunning.Operations interface. Returns either an `Operation.error` or an `Operation.response` which contains a `LongRunningRecognizeResponse` message. For more information on asynchronous speech recognition, see the [how-to](https://cloud.google.com/speech-to-text/docs/async-recognize).",
        "operationId": "LongrunningrecognizeV1SpeechLongrunningrecognize",
        "parameters": [
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LongRunningRecognizeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/speech:recognize": {
      "post": {
        "tags": [
          "speech"
        ],
        "summary": "RecognizeV1SpeechRecognize",
        "description": "Performs synchronous speech recognition: receive results after all audio has been sent and processed.",
        "operationId": "RecognizeV1SpeechRecognize",
        "parameters": [
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecognizeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecognizeResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/{parent}/customClasses": {
      "post": {
        "tags": [
          "customClasses"
        ],
        "summary": "CreateV1CustomClassesByParent",
        "description": "Create a custom class.",
        "operationId": "CreateV1CustomClassesByParent",
        "parameters": [
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "parent",
            "in": "path",
            "description": "Required. The parent resource where this custom class will be created. Format: `projects/{project}/locations/{location}/customClasses` Speech-to-Text supports three locations: `global`, `us` (US North America), and `eu` (Europe). If you are calling the `speech.googleapis.com` endpoint, use the `global` location. To specify a region, use a [regional endpoint](/speech-to-text/docs/endpoints) with matching `us` or `eu` location value.",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^projects/[^/]+/locations/[^/]+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomClassRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomClass"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "customClasses"
        ],
        "summary": "ListV1CustomClassesByParent",
        "description": "List custom classes.",
        "operationId": "ListV1CustomClassesByParent",
        "parameters": [
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous `ListCustomClass` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomClass` must match the call that provided the page token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent",
            "in": "path",
            "description": "Required. The parent, which owns this collection of custom classes. Format: `projects/{project}/locations/{location}/customClasses` Speech-to-Text supports three locations: `global`, `us` (US North America), and `eu` (Europe). If you are calling the `speech.googleapis.com` endpoint, use the `global` location. To specify a region, use a [regional endpoint](/speech-to-text/docs/endpoints) with matching `us` or `eu` location value.",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^projects/[^/]+/locations/[^/]+$",
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of custom classes to return. The service may return fewer than this value. If unspecified, at most 50 custom classes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomClassesResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/{name}": {
      "delete": {
        "tags": [
          "customClasses"
        ],
        "summary": "DeleteV1ByName",
        "description": "Delete a custom class.",
        "operationId": "DeleteV1ByName",
        "parameters": [
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Required. The name of the custom class to delete. Format: `projects/{project}/locations/{location}/customClasses/{custom_class}` Speech-to-Text supports three locations: `global`, `us` (US North America), and `eu` (Europe). If you are calling the `speech.googleapis.com` endpoint, use the `global` location. To specify a region, use a [regional endpoint](/speech-to-text/docs/endpoints) with matching `us` or `eu` location value.",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^projects/[^/]+/locations/[^/]+/customClasses/[^/]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "customClasses"
        ],
        "summary": "PatchV1ByName",
        "description": "Update a custom class.",
        "operationId": "PatchV1ByName",
        "parameters": [
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The list of fields to be updated.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "The resource name of the custom class.",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^projects/[^/]+/locations/[^/]+/customClasses/[^/]+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomClass"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomClass"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "customClasses"
        ],
        "summary": "GetV1ByName",
        "description": "Get a custom class.",
        "operationId": "GetV1ByName",
        "parameters": [
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Required. The name of the custom class to retrieve. Format: `projects/{project}/locations/{location}/customClasses/{custom_class}`",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^projects/[^/]+/locations/[^/]+/customClasses/[^/]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomClass"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    },
    "/v1/{parent}/phraseSets": {
      "get": {
        "tags": [
          "phraseSets"
        ],
        "summary": "ListV1PhraseSetsByParent",
        "description": "List phrase sets.",
        "operationId": "ListV1PhraseSetsByParent",
        "parameters": [
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous `ListPhraseSet` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPhraseSet` must match the call that provided the page token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent",
            "in": "path",
            "description": "Required. The parent, which owns this collection of phrase set. Format: `projects/{project}/locations/{location}` Speech-to-Text supports three locations: `global`, `us` (US North America), and `eu` (Europe). If you are calling the `speech.googleapis.com` endpoint, use the `global` location. To specify a region, use a [regional endpoint](/speech-to-text/docs/endpoints) with matching `us` or `eu` location value.",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^projects/[^/]+/locations/[^/]+$",
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of phrase sets to return. The service may return fewer than this value. If unspecified, at most 50 phrase sets will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPhraseSetResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "phraseSets"
        ],
        "summary": "CreateV1PhraseSetsByParent",
        "description": "Create a set of phrase hints. Each item in the set can be a single word or a multi-word phrase. The items in the PhraseSet are favored by the recognition model when you send a call that includes the PhraseSet.",
        "operationId": "CreateV1PhraseSetsByParent",
        "parameters": [
          {
            "name": "uploadType",
            "in": "query",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "description": "Returns response with indentations and line breaks.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alt",
            "in": "query",
            "description": "Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Selector specifying which fields to include in a partial response.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quotaUser",
            "in": "query",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "description": "OAuth 2.0 token for the current user.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$.xgafv",
            "in": "query",
            "description": "V1 error format. (Acceptable values are: \"1\", \"2\")",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "parent",
            "in": "path",
            "description": "Required. The parent resource where this phrase set will be created. Format: `projects/{project}/locations/{location}/phraseSets` Speech-to-Text supports three locations: `global`, `us` (US North America), and `eu` (Europe). If you are calling the `speech.googleapis.com` endpoint, use the `global` location. To specify a region, use a [regional endpoint](/speech-to-text/docs/endpoints) with matching `us` or `eu` location value.",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^projects/[^/]+/locations/[^/]+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePhraseSetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhraseSet"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "httpBearer": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "RecognizeResponse": {
        "title": "RecognizeResponse",
        "type": "object",
        "properties": {
          "totalBilledTime": {
            "type": "string",
            "description": "When available, billed audio seconds for the corresponding request."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpeechRecognitionResult"
            },
            "description": "Sequential list of transcription results corresponding to sequential portions of audio."
          }
        },
        "description": "The only message returned to the client by the `Recognize` method. It contains the result as zero or more sequential `SpeechRecognitionResult` messages."
      },
      "ListPhraseSetResponse": {
        "title": "ListPhraseSetResponse",
        "type": "object",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          },
          "phraseSets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhraseSet"
            },
            "description": "The phrase set."
          }
        },
        "description": "Message returned to the client by the `ListPhraseSet` method."
      },
      "ListCustomClassesResponse": {
        "title": "ListCustomClassesResponse",
        "type": "object",
        "properties": {
          "customClasses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomClass"
            },
            "description": "The custom classes."
          },
          "nextPageToken": {
            "type": "string",
            "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "description": "Message returned to the client by the `ListCustomClasses` method."
      },
      "CreatePhraseSetRequest": {
        "title": "CreatePhraseSetRequest",
        "type": "object",
        "properties": {
          "phraseSet": {
            "$ref": "#/components/schemas/PhraseSet"
          },
          "phraseSetId": {
            "type": "string",
            "description": "Required. The ID to use for the phrase set, which will become the final component of the phrase set's resource name. This value should restrict to letters, numbers, and hyphens, with the first character a letter, the last a letter or a number, and be 4-63 characters."
          }
        },
        "description": "Message sent by the client for the `CreatePhraseSet` method."
      },
      "PhraseSet": {
        "title": "PhraseSet",
        "type": "object",
        "properties": {
          "boost": {
            "type": "number",
            "description": "Hint Boost. Positive value will increase the probability that a specific phrase will be recognized over other similar sounding phrases. The higher the boost, the higher the chance of false positive recognition as well. Negative boost values would correspond to anti-biasing. Anti-biasing is not enabled, so negative boost will simply be ignored. Though `boost` can accept a wide range of positive values, most use cases are best served with values between 0 (exclusive) and 20. We recommend using a binary search approach to finding the optimal value for your use case. Speech recognition will skip PhraseSets with a boost value of 0."
          },
          "name": {
            "type": "string",
            "description": "The resource name of the phrase set."
          },
          "phrases": {
            "type": "array",
            "items": {},
            "description": "A list of word and phrases."
          }
        },
        "description": "Provides \"hints\" to the speech recognizer to favor specific words and phrases in the results."
      },
      "SpeakerDiarizationConfig": {
        "title": "SpeakerDiarizationConfig",
        "type": "object",
        "properties": {
          "minSpeakerCount": {
            "type": "integer",
            "description": "Minimum number of speakers in the conversation. This range gives you more flexibility by allowing the system to automatically determine the correct number of speakers. If not set, the default value is 2.",
            "format": "int32"
          },
          "maxSpeakerCount": {
            "type": "integer",
            "description": "Maximum number of speakers in the conversation. This range gives you more flexibility by allowing the system to automatically determine the correct number of speakers. If not set, the default value is 6.",
            "format": "int32"
          },
          "speakerTag": {
            "type": "integer",
            "description": "Output only. Unused.",
            "format": "int32"
          },
          "enableSpeakerDiarization": {
            "type": "boolean",
            "description": "If 'true', enables speaker detection for each recognized word in the top alternative of the recognition result using a speaker_tag provided in the WordInfo."
          }
        },
        "description": "Config to enable speaker diarization."
      },
      "WordInfo": {
        "title": "WordInfo",
        "type": "object",
        "properties": {
          "confidence": {
            "type": "number",
            "description": "The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative of a non-streaming result or, of a streaming result where `is_final=true`. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
          },
          "word": {
            "type": "string",
            "description": "The word corresponding to this set of information."
          },
          "speakerTag": {
            "type": "integer",
            "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from '1' to diarization_speaker_count. speaker_tag is set if enable_speaker_diarization = 'true' and only in the top alternative.",
            "format": "int32"
          },
          "endTime": {
            "type": "string",
            "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
          },
          "startTime": {
            "type": "string",
            "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
          }
        },
        "description": "Word-specific information for recognized words."
      },
      "Phrase": {
        "title": "Phrase",
        "type": "object",
        "properties": {
          "boost": {
            "type": "number",
            "description": "Hint Boost. Overrides the boost set at the phrase set level. Positive value will increase the probability that a specific phrase will be recognized over other similar sounding phrases. The higher the boost, the higher the chance of false positive recognition as well. Negative boost will simply be ignored. Though `boost` can accept a wide range of positive values, most use cases are best served with values between 0 and 20. We recommend using a binary search approach to finding the optimal value for your use case. Speech recognition will skip PhraseSets with a boost value of 0."
          },
          "value": {
            "type": "string",
            "description": "The phrase itself."
          }
        },
        "description": "A phrases containing words and phrase \"hints\" so that the speech recognition is more likely to recognize them. This can be used to improve the accuracy for specific words and phrases, for example, if specific commands are typically spoken by the user. This can also be used to add additional words to the vocabulary of the recognizer. See [usage limits](https://cloud.google.com/speech-to-text/quotas#content). List items can also include pre-built or custom classes containing groups of words that represent common concepts that occur in natural language. For example, rather than providing a phrase hint for every month of the year (e.g. \"i was born in january\", \"i was born in febuary\", ...), use the pre-built `$MONTH` class improves the likelihood of correctly transcribing audio that includes months (e.g. \"i was born in $month\"). To refer to pre-built classes, use the class' symbol prepended with `$` e.g. `$MONTH`. To refer to custom classes that were defined inline in the request, set the class's `custom_class_id` to a string unique to all class resources and inline classes. Then use the class' id wrapped in $`{...}` e.g. \"${my-months}\". To refer to custom classes resources, use the class' id wrapped in `${}` (e.g. `${my-months}`). Speech-to-Text supports three locations: `global`, `us` (US North America), and `eu` (Europe). If you are calling the `speech.googleapis.com` endpoint, use the `global` location. To specify a region, use a [regional endpoint](/speech-to-text/docs/endpoints) with matching `us` or `eu` location value."
      },
      "Status": {
        "title": "Status",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          },
          "details": {
            "type": "array",
            "items": {},
            "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          },
          "code": {
            "type": "integer",
            "description": "The status code, which should be an enum value of google.rpc.Code.",
            "format": "int32"
          }
        },
        "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      },
      "RecognitionMetadata": {
        "title": "RecognitionMetadata",
        "type": "object",
        "properties": {
          "recordingDeviceName": {
            "type": "string",
            "description": "The device used to make the recording. Examples 'Nexus 5X' or 'Polycom SoundStation IP 6000' or 'POTS' or 'VoIP' or 'Cardioid Microphone'."
          },
          "originalMediaType": {
            "$ref": "#/components/schemas/OriginalMediaType"
          },
          "recordingDeviceType": {
            "$ref": "#/components/schemas/RecordingDeviceType"
          },
          "originalMimeType": {
            "type": "string",
            "description": "Mime type of the original audio file. For example `audio/m4a`, `audio/x-alaw-basic`, `audio/mp3`, `audio/3gpp`. A list of possible audio mime types is maintained at http://www.iana.org/assignments/media-types/media-types.xhtml#audio"
          },
          "audioTopic": {
            "type": "string",
            "description": "Description of the content. Eg. \"Recordings of federal supreme court hearings from 2012\"."
          },
          "microphoneDistance": {
            "$ref": "#/components/schemas/MicrophoneDistance"
          },
          "industryNaicsCodeOfAudio": {
            "type": "integer",
            "description": "The industry vertical to which this speech recognition request most closely applies. This is most indicative of the topics contained in the audio. Use the 6-digit NAICS code to identify the industry vertical - see https://www.naics.com/search/.",
            "format": "int32"
          },
          "interactionType": {
            "$ref": "#/components/schemas/InteractionType"
          }
        },
        "description": "Description of audio data to be recognized."
      },
      "LongRunningRecognizeRequest": {
        "title": "LongRunningRecognizeRequest",
        "type": "object",
        "properties": {
          "outputConfig": {
            "$ref": "#/components/schemas/TranscriptOutputConfig"
          },
          "config": {
            "$ref": "#/components/schemas/RecognitionConfig"
          },
          "audio": {
            "$ref": "#/components/schemas/RecognitionAudio"
          }
        },
        "description": "The top-level message sent by the client for the `LongRunningRecognize` method."
      },
      "ListOperationsResponse": {
        "title": "ListOperationsResponse",
        "type": "object",
        "properties": {
          "nextPageToken": {
            "type": "string",
            "description": "The standard List next-page token."
          },
          "operations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "description": "A list of operations that matches the specified filter in the request."
          }
        },
        "description": "The response message for Operations.ListOperations."
      },
      "CreateCustomClassRequest": {
        "title": "CreateCustomClassRequest",
        "type": "object",
        "properties": {
          "customClass": {
            "$ref": "#/components/schemas/CustomClass"
          },
          "customClassId": {
            "type": "string",
            "description": "Required. The ID to use for the custom class, which will become the final component of the custom class' resource name. This value should restrict to letters, numbers, and hyphens, with the first character a letter, the last a letter or a number, and be 4-63 characters."
          }
        },
        "description": "Message sent by the client for the `CreateCustomClass` method."
      },
      "TranscriptOutputConfig": {
        "title": "TranscriptOutputConfig",
        "type": "object",
        "properties": {
          "gcsUri": {
            "type": "string",
            "description": "Specifies a Cloud Storage URI for the recognition results. Must be specified in the format: `gs://bucket_name/object_name`, and the bucket must already exist."
          }
        },
        "description": "Specifies an optional destination for the recognition results."
      },
      "LongRunningRecognizeMetadata": {
        "title": "LongRunningRecognizeMetadata",
        "type": "object",
        "properties": {
          "lastUpdateTime": {
            "type": "string",
            "description": "Time of the most recent processing update."
          },
          "startTime": {
            "type": "string",
            "description": "Time when the request was received."
          },
          "uri": {
            "type": "string",
            "description": "Output only. The URI of the audio file being transcribed. Empty if the audio was sent as byte content."
          },
          "progressPercent": {
            "type": "integer",
            "description": "Approximate percentage of audio processed thus far. Guaranteed to be 100 when the audio is fully processed and the results are available.",
            "format": "int32"
          }
        },
        "description": "Describes the progress of a long-running `LongRunningRecognize` call. It is included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
      },
      "RecognizeRequest": {
        "title": "RecognizeRequest",
        "type": "object",
        "properties": {
          "config": {
            "$ref": "#/components/schemas/RecognitionConfig"
          },
          "audio": {
            "$ref": "#/components/schemas/RecognitionAudio"
          }
        },
        "description": "The top-level message sent by the client for the `Recognize` method."
      },
      "CustomClass": {
        "title": "CustomClass",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {},
            "description": "A collection of class items."
          },
          "name": {
            "type": "string",
            "description": "The resource name of the custom class."
          },
          "customClassId": {
            "type": "string",
            "description": "If this custom class is a resource, the custom_class_id is the resource id of the CustomClass. Case sensitive."
          }
        },
        "description": "A set of words or phrases that represents a common concept likely to appear in your audio, for example a list of passenger ship names. CustomClass items can be substituted into placeholders that you set in PhraseSet phrases."
      },
      "SpeechRecognitionResult": {
        "title": "SpeechRecognitionResult",
        "type": "object",
        "properties": {
          "languageCode": {
            "type": "string",
            "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio."
          },
          "resultEndTime": {
            "type": "string",
            "description": "Time offset of the end of this result relative to the beginning of the audio."
          },
          "channelTag": {
            "type": "integer",
            "description": "For multi-channel audio, this is the channel number corresponding to the recognized result for the audio from that channel. For audio_channel_count = N, its output values can range from '1' to 'N'.",
            "format": "int32"
          },
          "alternatives": {
            "type": "array",
            "items": {},
            "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer."
          }
        },
        "description": "A speech recognition result corresponding to a portion of the audio."
      },
      "LongRunningRecognizeResponse": {
        "title": "LongRunningRecognizeResponse",
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpeechRecognitionResult"
            },
            "description": "Sequential list of transcription results corresponding to sequential portions of audio."
          },
          "totalBilledTime": {
            "type": "string",
            "description": "When available, billed audio seconds for the corresponding request."
          },
          "outputError": {
            "$ref": "#/components/schemas/Status"
          },
          "outputConfig": {
            "$ref": "#/components/schemas/TranscriptOutputConfig"
          }
        },
        "description": "The only message returned to the client by the `LongRunningRecognize` method. It contains the result as zero or more sequential `SpeechRecognitionResult` messages. It is included in the `result.response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
      },
      "RecognitionAudio": {
        "title": "RecognitionAudio",
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "The audio data bytes encoded as specified in `RecognitionConfig`. Note: as with all bytes fields, proto buffers use a pure binary representation, whereas JSON representations use base64."
          },
          "uri": {
            "type": "string",
            "description": "URI that points to a file that contains audio data bytes as specified in `RecognitionConfig`. The file must not be compressed (for example, gzip). Currently, only Google Cloud Storage URIs are supported, which must be specified in the following format: `gs://bucket_name/object_name` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/reference-uris)."
          }
        },
        "description": "Contains audio data in the encoding specified in the `RecognitionConfig`. Either `content` or `uri` must be supplied. Supplying both or neither returns google.rpc.Code.INVALID_ARGUMENT. See [content limits](https://cloud.google.com/speech-to-text/quotas#content)."
      },
      "SpeechRecognitionAlternative": {
        "title": "SpeechRecognitionAlternative",
        "type": "object",
        "properties": {
          "transcript": {
            "type": "string",
            "description": "Transcript text representing the words that the user spoke. In languages that use spaces to separate words, the transcript might have a leading space if it isn't the first result. You can concatenate each result to obtain the full transcript without using a separator."
          },
          "confidence": {
            "type": "number",
            "description": "The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative of a non-streaming result or, of a streaming result where `is_final=true`. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
          },
          "words": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WordInfo"
            },
            "description": "A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is true, you will see all the words from the beginning of the audio."
          }
        },
        "description": "Alternative hypotheses (a.k.a. n-best list)."
      },
      "SpeechContext": {
        "title": "SpeechContext",
        "type": "object",
        "properties": {
          "phrases": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of strings containing words and phrases \"hints\" so that the speech recognition is more likely to recognize them. This can be used to improve the accuracy for specific words and phrases, for example, if specific commands are typically spoken by the user. This can also be used to add additional words to the vocabulary of the recognizer. See [usage limits](https://cloud.google.com/speech-to-text/quotas#content). List items can also be set to classes for groups of words that represent common concepts that occur in natural language. For example, rather than providing phrase hints for every month of the year, using the $MONTH class improves the likelihood of correctly transcribing audio that includes months."
          },
          "boost": {
            "type": "number",
            "description": "Hint Boost. Positive value will increase the probability that a specific phrase will be recognized over other similar sounding phrases. The higher the boost, the higher the chance of false positive recognition as well. Negative boost values would correspond to anti-biasing. Anti-biasing is not enabled, so negative boost will simply be ignored. Though `boost` can accept a wide range of positive values, most use cases are best served with values between 0 and 20. We recommend using a binary search approach to finding the optimal value for your use case."
          }
        },
        "description": "Provides \"hints\" to the speech recognizer to favor specific words and phrases in the results."
      },
      "ClassItem": {
        "title": "ClassItem",
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "The class item's value."
          }
        },
        "description": "An item of the class."
      },
      "RecognitionConfig": {
        "title": "RecognitionConfig",
        "type": "object",
        "properties": {
          "sampleRateHertz": {
            "type": "integer",
            "description": "Sample rate in Hertz of the audio data sent in all `RecognitionAudio` messages. Valid values are: 8000-48000. 16000 is optimal. For best results, set the sampling rate of the audio source to 16000 Hz. If that's not possible, use the native sample rate of the audio source (instead of re-sampling). This field is optional for FLAC and WAV audio files, but is required for all other audio formats. For details, see AudioEncoding.",
            "format": "int32"
          },
          "enableSpokenPunctuation": {
            "type": "boolean",
            "description": "The spoken punctuation behavior for the call If not set, uses default behavior based on model of choice e.g. command_and_search will enable spoken punctuation by default If 'true', replaces spoken punctuation with the corresponding symbols in the request. For example, \"how are you question mark\" becomes \"how are you?\". See https://cloud.google.com/speech-to-text/docs/spoken-punctuation for support. If 'false', spoken punctuation is not replaced."
          },
          "enableWordConfidence": {
            "type": "boolean",
            "description": "If `true`, the top result includes a list of words and the confidence for those words. If `false`, no word-level confidence information is returned. The default is `false`."
          },
          "encoding": {
            "$ref": "#/components/schemas/Encoding"
          },
          "audioChannelCount": {
            "type": "integer",
            "description": "The number of channels in the input audio data. ONLY set this for MULTI-CHANNEL recognition. Valid values for LINEAR16 and FLAC are `1`-`8`. Valid values for OGG_OPUS are '1'-'254'. Valid value for MULAW, AMR, AMR_WB and SPEEX_WITH_HEADER_BYTE is only `1`. If `0` or omitted, defaults to one channel (mono). Note: We only recognize the first channel by default. To perform independent recognition on each channel set `enable_separate_recognition_per_channel` to 'true'.",
            "format": "int32"
          },
          "diarizationConfig": {
            "description": "Config to enable speaker diarization and set additional parameters to make diarization better suited for your application. Note: When this is enabled, we send all the words from the beginning of the audio for the top alternative in every consecutive STREAMING responses. This is done in order to improve our speaker tags as our models learn to identify the speakers in the conversation over time. For non-streaming requests, the diarization results will be provided only in the top alternative of the FINAL SpeechRecognitionResult."
          },
          "model": {
            "type": "string",
            "description": "Which model to select for the given request. Select the model best suited to your domain to get best results. If a model is not explicitly specified, then we auto-select a model based on the parameters in the RecognitionConfig. *Model* *Description* command_and_search Best for short queries such as voice commands or voice search. phone_call Best for audio that originated from a phone call (typically recorded at an 8khz sampling rate). video Best for audio that originated from video or includes multiple speakers. Ideally the audio is recorded at a 16khz or greater sampling rate. This is a premium model that costs more than the standard rate. default Best for audio that is not one of the specific audio models. For example, long-form audio. Ideally the audio is high-fidelity, recorded at a 16khz or greater sampling rate. medical_conversation Best for audio that originated from a conversation between a medical provider and patient. medical_dictation Best for audio that originated from dictation notes by a medical provider."
          },
          "enableWordTimeOffsets": {
            "type": "boolean",
            "description": "If `true`, the top result includes a list of words and the start and end time offsets (timestamps) for those words. If `false`, no word-level time offset information is returned. The default is `false`."
          },
          "enableSpokenEmojis": {
            "type": "boolean",
            "description": "The spoken emoji behavior for the call If not set, uses default behavior based on model of choice If 'true', adds spoken emoji formatting for the request. This will replace spoken emojis with the corresponding Unicode symbols in the final transcript. If 'false', spoken emojis are not replaced."
          },
          "alternativeLanguageCodes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of up to 3 additional [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tags, listing possible alternative languages of the supplied audio. See [Language Support](https://cloud.google.com/speech-to-text/docs/languages) for a list of the currently supported language codes. If alternative languages are listed, recognition result will contain recognition in the most likely language detected including the main language_code. The recognition result will include the language tag of the language detected in the audio. Note: This feature is only supported for Voice Command and Voice Search use cases and performance may vary for other use cases (e.g., phone call transcription)."
          },
          "enableSeparateRecognitionPerChannel": {
            "type": "boolean",
            "description": "This needs to be set to `true` explicitly and `audio_channel_count` > 1 to get each channel recognized separately. The recognition result will contain a `channel_tag` field to state which channel that result belongs to. If this is not true, we will only recognize the first channel. The request is billed cumulatively for all channels recognized: `audio_channel_count` multiplied by the length of the audio."
          },
          "enableAutomaticPunctuation": {
            "type": "boolean",
            "description": "If 'true', adds punctuation to recognition result hypotheses. This feature is only available in select languages. Setting this for requests in other languages has no effect at all. The default 'false' value does not add punctuation to result hypotheses."
          },
          "profanityFilter": {
            "type": "boolean",
            "description": "If set to `true`, the server will attempt to filter out profanities, replacing all but the initial character in each filtered word with asterisks, e.g. \"f***\". If set to `false` or omitted, profanities won't be filtered out."
          },
          "languageCode": {
            "type": "string",
            "description": "Required. The language of the supplied audio as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\". See [Language Support](https://cloud.google.com/speech-to-text/docs/languages) for a list of the currently supported language codes."
          },
          "maxAlternatives": {
            "type": "integer",
            "description": "Maximum number of recognition hypotheses to be returned. Specifically, the maximum number of `SpeechRecognitionAlternative` messages within each `SpeechRecognitionResult`. The server may return fewer than `max_alternatives`. Valid values are `0`-`30`. A value of `0` or `1` will return a maximum of one. If omitted, will return a maximum of one.",
            "format": "int32"
          },
          "speechContexts": {
            "type": "array",
            "items": {},
            "description": "Array of SpeechContext. A means to provide context to assist the speech recognition. For more information, see [speech adaptation](https://cloud.google.com/speech-to-text/docs/adaptation)."
          },
          "useEnhanced": {
            "type": "boolean",
            "description": "Set to true to use an enhanced model for speech recognition. If `use_enhanced` is set to true and the `model` field is not set, then an appropriate enhanced model is chosen if an enhanced model exists for the audio. If `use_enhanced` is true and an enhanced version of the specified model does not exist, then the speech is recognized using the standard version of the specified model."
          },
          "adaptation": {
            "description": "Speech adaptation configuration improves the accuracy of speech recognition. For more information, see the [speech adaptation](https://cloud.google.com/speech-to-text/docs/adaptation) documentation. When speech adaptation is set it supersedes the `speech_contexts` field."
          },
          "metadata": {
            "description": "Metadata regarding this request."
          }
        },
        "description": "Provides information to the recognizer that specifies how to process the request."
      },
      "SpeechAdaptation": {
        "title": "SpeechAdaptation",
        "type": "object",
        "properties": {
          "phraseSetReferences": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A collection of phrase set resource names to use."
          },
          "phraseSets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhraseSet"
            },
            "description": "A collection of phrase sets. To specify the hints inline, leave the phrase set's `name` blank and fill in the rest of its fields. Any phrase set can use any custom class."
          },
          "customClasses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomClass"
            },
            "description": "A collection of custom classes. To specify the classes inline, leave the class' `name` blank and fill in the rest of its fields, giving it a unique `custom_class_id`. Refer to the inline defined class in phrase hints by its `custom_class_id`."
          }
        },
        "description": "Speech adaptation configuration."
      },
      "Operation": {
        "title": "Operation",
        "type": "object",
        "properties": {
          "error": {
            "description": "The error result of the operation in case of failure or cancellation."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {},
            "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          },
          "response": {
            "type": "object",
            "additionalProperties": {},
            "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          },
          "done": {
            "type": "boolean",
            "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          },
          "name": {
            "type": "string",
            "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "description": "This resource represents a long-running operation that is the result of a network API call."
      },
      "Encoding": {
        "title": "Encoding",
        "enum": [
          "ENCODING_UNSPECIFIED",
          "LINEAR16",
          "FLAC",
          "MULAW",
          "AMR",
          "AMR_WB",
          "OGG_OPUS",
          "SPEEX_WITH_HEADER_BYTE",
          "WEBM_OPUS"
        ],
        "type": "string",
        "description": "Encoding of audio data sent in all `RecognitionAudio` messages. This field is optional for `FLAC` and `WAV` audio files and required for all other audio formats. For details, see AudioEncoding.",
        "example": "ENCODING_UNSPECIFIED"
      },
      "InteractionType": {
        "title": "InteractionType",
        "enum": [
          "INTERACTION_TYPE_UNSPECIFIED",
          "DISCUSSION",
          "PRESENTATION",
          "PHONE_CALL",
          "VOICEMAIL",
          "PROFESSIONALLY_PRODUCED",
          "VOICE_SEARCH",
          "VOICE_COMMAND",
          "DICTATION"
        ],
        "type": "string",
        "description": "The use case most closely describing the audio content to be recognized.",
        "example": "INTERACTION_TYPE_UNSPECIFIED"
      },
      "MicrophoneDistance": {
        "title": "MicrophoneDistance",
        "enum": [
          "MICROPHONE_DISTANCE_UNSPECIFIED",
          "NEARFIELD",
          "MIDFIELD",
          "FARFIELD"
        ],
        "type": "string",
        "description": "The audio type that most closely describes the audio being recognized.",
        "example": "MICROPHONE_DISTANCE_UNSPECIFIED"
      },
      "OriginalMediaType": {
        "title": "OriginalMediaType",
        "enum": [
          "ORIGINAL_MEDIA_TYPE_UNSPECIFIED",
          "AUDIO",
          "VIDEO"
        ],
        "type": "string",
        "description": "The original media the speech was recorded on.",
[...]
